@layer primevue, correct;

@import 'null';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import 'primeicons/primeicons.css';

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;

}

.active_item {
    background-color: var(--p-menubar-item-active-background);
}

.full_screen_blk {
    width:100vw;
    height:100vh;
    display: flex;
}

section {
    ._container {
        width:96%;
        margin: 10px 2%;
    }
}

.form_body {
    display: flex;
    flex-direction: column;

    & > * {
        margin: 5px 0
    }
}

.tolbar_wrapper {
    display: flex;

    .p-select {
        margin-left: 10px;
        flex: 1;
        width: 200px;
    }
}

.ml {
    margin-left: 10px;
}
.mr {
    margin-right: 10px;
}

@import 'scroll';
@import 'auth';
@import 'drawer';
